# Build folder and log file
bin/
build/
android/libs
android/documentation
android/example
android/assets
android/LICENSE
iphone/build/
build.log
.idea/.name
.idea/encodings.xml
.idea/fabric-manojdcoder.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
